<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="Css/estilos.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>Calculadora</title>
</head>
<body>
    <!-- Dentro de este body voy agregar el contenido, de la vista
    calculadora y luego lo voy a visualizar cuando se levante el servidor -->
    {{{body}}}

    <script src="Js/calculadora.js"></script>
</body>
</html>