<!-- En esta vista calculadora creo la apariencia que voy a mostrar en 
el navegador. Entonces creo un contenedor, para agregar un input que va a
simular a un display y ademas dentro de este contenedor creo los botones 
de los numeros y de las operaciones (+, -, x, /, = y de AC(va a limpiar o 
borrar el contenido de la calculadora))
 -->
<div class="caja-calculadora">
    <div class="calculadora">
        <div class="salida">
            <input type="text" class="display" id="resultado"  placeholder="0">
        </div>
        <button name="numero">1</button>
        <button name="numero">2</button>
        <button name="numero">3</button>
        <button name="operacion">+</button>
        <button name="numero">4</button>
        <button name="numero">5</button>
        <button name="numero">6</button>
        <button name="operacion">-</button>
        <button name="numero">7</button> 
        <button name="numero">8</button>
        <button name="numero">9</button>
        <button name="operacion">/</button>
        <button name="borrado" class="borrado">CE</button>
        <button name="numero">0</button>
        <button name="igual">=</button>
        <button name="operacion">x</button>
    </div>
</div>